/* Start Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #eee;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

a {
  color: white;
  text-decoration: none;
}

/* Start Header */
header {
  background-color: black;
}
header nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
header nav ul {
  display: flex;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 18px;
}
header nav ul li a:hover {
  text-decoration: underline;
}
header nav .search {
  display: flex;
  position: relative;
}
header nav .search input {
  padding: 10px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 25px;
  color: white;
  background-color: rgba(128, 128, 128, 0.634);
  outline: none;
}
header nav .search span {
  position: absolute;
  right: 10px;
  top: 35%;
  color: white;
}
/* End Header */
